asgiref==3.9.1
Brotli==1.1.0
cffi==1.17.1
cssselect2==0.8.0
Django==5.2.4
dj-database-url==1.0.0
et_xmlfile==2.0.0
fonttools==4.59.0
gunicorn==20.1.0
openpyxl==3.1.5
pillow==11.3.0
psycopg[binary]>=3.1
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
pytz==2025.2
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==65.1
whitenoise==6.5.0
webencodings==0.5.1
zopfli==0.2.3.post1
