{% load widget_tweaks %}

<div class="card p-3">
  <h5>Change Password for {{ user_obj.username }}</h5>
  <form method="post" 
        hx-post="{% url 'change_user_password' user_obj.pk %}" 
        hx-target="#password-modal-body" 
        hx-swap="innerHTML">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        <label class="form-label">{{ field.label }}</label>
        {% with ph="placeholder:"|add:field.label %}
        {{ field|add_class:"form-control bg-dark text-white border-secondary"|attr:ph }}
        {% endwith %} 
        {% if field.errors %}
            <div class="text-danger small mt-1">{{ field.errors }}</div>
        {% endif %}
    </div>
    {% endfor %}


    <button type="submit" class="btn btn-warning">Update Password</button>
    <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal">Cancel</button>
  </form>
</div>
