{# templates/accounts/user_list.html #}
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-xl mt-4">
    <div class="card">
      <a href="{% url 'create_user' %}" class="dropdown-item text-warning">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-plus">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M16 19h6" /><path d="M19 16v6" />
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
        </svg>
        Add User
      </a>
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3>User Management</h3>
            <input type="text" class="form-control w-auto" placeholder="Search..."
                   hx-get="{% url 'user_list' %}" hx-trigger="keyup changed delay:500ms"
                   hx-target="#user-table" name="q">
        </div>

        <div class="table-responsive">
            <table class="table card-table table-vcenter">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Staff</th>
                        <th>Superuser</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="user-table">
                    {% include "accounts/partials/user_table.html" %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="modal-body"></div>
  </div>
</div>
{% endblock %}
